body{
    font-family: Montserrat;
    background-color: #353A47;
    color: #DED6D6;
}
a{
    color: white;
}
.header{
    background-color:#499f68;
    height: 65px;
    position: relative;
    
}
.link-nav{
    position: relative;
    margin-left: 300px;
    margin-top: 20px;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}
.heading{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}
.about-me-container{
    margin-bottom: 10px;
    border: solid 2px rgb(218, 207, 207);
    height: 311px;
}
.description{
    position: absolute;
    top:40%;
    left:10%;
}
.about-me{
    border: solid 1px seashell;
    height: 233px;
    position: relative;
}
.skills-list{
    line-height: 150%;
}
#minha-foto{
    float: left;
    border: 1px solid seashell;
    width: 130px;
    margin-right: 20px;
}
div{
    border: 1px solid salmon;
}